:host {
  display: grid;
  grid-template-rows: min-content 0px min-content 1fr min-content;
}

#canvas-container {
  grid-row: 4/5;
  min-height: 20rem;
  // margin: 0 auto;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  // background-color: black;
  // background: radial-gradient(circle, #ff69af 30%, #202124 70%);
}
canvas:focus {
  outline: none;
}

// Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
